.home h2 {
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.countdown-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
  margin: 0 auto;
}

.countdown-form label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.countdown-form span {
  font-weight: bold;
}

.countdown-form input {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #aaa;
}

.countdown-form input[type="color"] {
  padding: 1px;
  border-radius: 10%;
  border-color: #000000; 
}

.countdown-form input[type="submit"] {
  background-color: #000;
  color: #fff;
  font-weight: bold;
  width: 120px;
  padding: 0.8rem;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.5s;
}

.countdown-form input[type="submit"]:hover {
  background: rgb(18, 18, 19);
  background: linear-gradient(
    90deg,
    rgba(18, 18, 19, 1) 0%,
    rgba(201, 201, 201, 1) 100%
  );
  color: #000;
  border: 1px solid #fff;
  font-size: 1rem;
}
